/* reset styles */
html {
   font-size: 16px;
   background-color: #ADD8E6; 
   font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a, article, body, div, figcaption, figure, footer, header, h1, 
h2, h3, img, li, nav, p, section, ul, input, label, textarea {
   border: 0;
   padding: 0;
   margin: 0;
}
img {
   max-width: 100%;
}
ol, ul {
   list-style-type: none;
}

/*Global Styles*/ 
html{ 
	background-color: white; 
	font-size: 1em; 
	line-height: 1em; 
	font-family: sans-serif, Arial; 
} 

/*Header Styles*/
header{
	background-color: yellow;	
	border: 2px solid black;  
	width: 100%; '
	margin: 0 auto; 
} 

h1{ 
	text-align: center; 
	font-size: 2em; 
	margin-top: 1em;
} 

/*Nav Styles*/ 
nav{ 
	text-align: center; 
	margin: 1.5em;
} 

nav li{ 
	display: inline-block;
	font-weight: bold;   
	margin: 0em 1em; 
} 

ul{ 
	list-style-image: url('images/brick.png');
	list-style-type: none;
}  

li a{  
	text-decoration: none; 
	color: black; 
} 	

a:visited{ 
	color: black; 
	
} 

a:hover{ 
	color: red; 
} 


/*Body Styles*/ 

h2{
	text-align: center; 
	font-size: 1.1em;
	text-decoration: underline; 
	margin-top: 1em;  
} 

p{
	font-size: 0.7em;
	margin: 1em;
	text-align: left; 
} 
/*for home page images*/ 
.center{ 
	text-align: center;  
} 

/* images on home page */ 
.home{
	margin-top: 0.5em;  
	margin-bottom: 0.5em; 
} 
.title{
	position: relative; 
	top: 0.35em; 
} 
.sitenav{
	position: relative; 
	left: 10em; 
} 
h3{ 
	font-size: 0.8em; 
	margin-top: 1em; 
} 

.column{ 
	margin: 1em;
	text-align: center;  	
} 

.grid {
	display: grid;
	/*allows 3 columns across the viewport with each column being a 1/3 of the screen */ 
	grid-template-columns: repeat(3, 1fr);
}

/*Form Styles*/ 
form{
	margin: 2%;
	padding: 2%;
	border: 2px solid black;
	background-color: #454545;
	color: white;  
}
fieldset{
	margin: 0 0 1em 1em;
}
legend{
	margin: 0 0 0.4em -1em; 
	font-size: 1.2em;
	font-weight: bold; 
}
input{
	border: 1px solid #777;
	padding: 0.2em;
	font-size: 1em;
}
form p{
	margin:auto; 
	margin-bottom: 1em; 
}

.contactinfo input{
	position: absolute;
	left: 8em;
}
.nameinput, .emailinput, .addressinput{
	width: 30em;
}
.phoneinput{
	width: 12em;
}
#notes{
	display:block;
}
label{
	font-size: 1em;
}
.contactinfo label{
	margin: 0.7em 0;
	display:block;
	position: relative;
}

